.home-main
  %h1.home-main__message 「あとで読む」はずだったPocketの中身<br />毎日メールでお届けします
  %a.home-main__login{href: '/session/connect'} Pocketアカウントでログイン
  = render 'layouts/social'
.home-description
  %ul.home-description__target-ul
    %li 「あとで読む」サービスのPocketをヘビーに利用している
    %li 最近Pocketに入れたけど読んでない記事が増えてきた
    %li でもメールで届くGunosyはわりと読む
  %p そんなあなたのために作りました。<br />放置されていた未読記事を毎日少しずつ読みましょう！

  %h2.home-description__h2 使い方
  %ul.home-description__howto_ul
    %li
      %a{href: '/session/connect'} Pocketアカウントでログイン
      %span する
    %li 毎日メールを受け取るメールアドレスを入力
    %li 次の日から毎日メールが届きます！
