!!! 5
%html
  %head
    %title Pocket Pop
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body
    #header
      #header_in
        = image_tag 'logo.png', id: 'logo', alt: 'Pocket Pop', width: '201', height: '39'
    #content
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
